{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Detay{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('admin') }}/css/table-style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('admin') }}/css/basictable.css"/>
    <script type="text/javascript" src="{{ asset('admin') }}/js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();
            $('#table-breakpoint').basictable({
                breakpoint: 1
            });

            $('#table-swap-axis').basictable({
                swapAxis: true
            });

            $('#table-force-off').basictable({
                forceResponsive: false
            });

            $('#table-no-resize').basictable({
                noResize: true
            });

            $('#table-two-axis').basictable();

            $('#table-max-height').basictable({
                tableWrapper: true
            });
        });
    </script>
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400'
          rel='stylesheet'
          type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'
          type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('admin') }}/css/icon-font.min.css" type='text/css'/>
    <h3>Ürün Detay &emsp;
    </h3>
    {{ include ('messages.html.twig') }}
    <table id="table-one-axis" class="one-axis">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Keywords</th>
            <th>Company</th>
            <th>Address</th>
            <th>Fax</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Smtpserver</th>
            <th>Smtpemail</th>
            <th>Smtppassword</th>
            <th>Smtpport</th>
            <th>Aboutus</th>
            <th>Contact</th>
            <th>Referances</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.title }}</td>
                <td>{{ setting.description }}</td>
                <td>{{ setting.keywords }}</td>
                <td>{{ setting.company }}</td>
                <td>{{ setting.address }}</td>
                <td>{{ setting.fax }}</td>
                <td>{{ setting.phone }}</td>
                <td>{{ setting.email }}</td>
                <td>{{ setting.smtpserver }}</td>
                <td>{{ setting.smtpemail }}</td>
                <td>{{ setting.smtppassword }}</td>
                <td>{{ setting.smtpport }}</td>
                <td>{{ setting.aboutus }}</td>
                <td>{{ setting.contact }}</td>
                <td>{{ setting.referances }}</td>
                <td>{{ setting.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{{ asset('admin') }}/js/jquery.nicescroll.js"></script>
    <script src="{{ asset('admin') }}/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('admin') }}/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <div class="inner-block">
        <!-- /Inner block lazım olabilir template'de vardı... -->
    </div>
    <br><!-- /Footer ile arada boşluk kalmamıştı br attım.Kod eksik geldi büyük ihtimal -->
{% endblock %}
