{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Detay{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Home</a><i class="fa fa-angle-right"></i>Mesajlar</li>
    </ol>
    <link rel="stylesheet" type="text/css" href="{{ asset('admin') }}/css/table-style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('admin') }}/css/basictable.css"/>
    <script type="text/javascript" src="{{ asset('admin') }}/js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();
            $('#table-breakpoint').basictable({
                breakpoint: 1
            });

            $('#table-swap-axis').basictable({
                swapAxis: true
            });

            $('#table-force-off').basictable({
                forceResponsive: false
            });

            $('#table-no-resize').basictable({
                noResize: true
            });

            $('#table-two-axis').basictable();

            $('#table-max-height').basictable({
                tableWrapper: true
            });
        });
    </script>
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('admin') }}/css/icon-font.min.css" type='text/css'/>
    <h3>Mesajlar&emsp;
    </h3>
    {{ include ('messages.html.twig') }}
    <table id="table-one-axis" class="one-axis">
        <thead>
            <tr>
                <th>Id</th>
                <th>İsİm</th>
                <th>Email</th>
                <th>Konu</th>
                <th>Mesaj</th>
                <th>Yorum</th>
                <th>Durum</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.comment }}</td>
                <td>{{ message.status }}</td>
                <td>
                    <a href="javascript:openWin('{{ path('admin_messages_show', {'id': message.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scroolBars=no,resizable=no,width=600,height=500');" class="btn btn-xs btn-primary btn-block">Oku</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
